backend/node_modules/
backend/.wwebjs_cache/
backend/wwebjs_sessions/
backend/media_archive/
backend/python_scripts/venv
backend/python_scripts/__pycache__
backend/python_scripts/.env
frontend/node_modules/
.env
backend/.env
backend/package-lock.json
frontend/package-lock.json
node_modules/
backend/python_scripts/beta_troca_confirmation.session

backend/services/certs/*
backend/python_scripts/xpayz_token_cache.json